* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 139, 38);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    /* width: 800px; */
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    
    

}

li {
    display: inline-block;
    height: 300px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(223, 147, 96);
    border-top: 10px solid bisque;
    border-bottom: 10px solid bisque;
    background-color: rgb(248, 246, 245);
    margin: 5px;
    /* padding-right: 10px;
    padding-left: 10px; */
    padding-top: 20px;
    border-radius: 25px;
    

}

span {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 10px solid bisque; 
}
/* .link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 10px solid bisque;  */
/* } */
a:visited, a {
    color: inherit;
    text-decoration: none;
}

a {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    /* border-bottom: 10px solid bisque; */
}

li:hover {
    color: rgb(235, 156, 110);
    /* border-top: 10px solid rgb(255, 153, 94);
    border-bottom: 10px solid rgb(255, 153, 94); */
    border-top: 10px solid bisque;
    border-bottom: 10px solid bisque;
    box-shadow: 0px 0px 15px 3px rgb(253, 196, 149);
    
}

h1 {
    
    font-size: 50px;
    text-align: center;
    background-color: rgb(248, 246, 245);
    color: rgb(240, 139, 38);
    outline: auto;
    outline-color: bisque;
    margin-bottom: 60px;
}

img {
    display: block;
    margin-top: 40px;
    margin: 20px;
    border: 5px solid bisque;
    border-radius: 25px;
}